
@{
    ViewBag.Title = "Parola Değiştir";
}
@model Eticaret2022.Models.ChangePasswordViewModel


<!-- ::::::  Start  Main Container Section  ::::::  -->
<main id="main-container" class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- :::::::::: Start My Account Section :::::::::: -->
                <div class="my-account-area">
                    <div class="row">
                        <div class="col-xl-3 col-md-3">
                            <div class="my-account-menu">
                                <ul class="nav account-menu-list flex-column nav-pills" id="pills-tab" role="tablist">
                                    <li>
                                        <a id="pills-address-tab" class="link--icon-left" href="/siparislerim"
                                           aria-controls="pills-address" aria-selected="false">
                                            <i class="far fa-shopping-basket"></i>Siparişlerim
                                        </a>
                                    </li>
                                    <li>
                                        <a id="pills-address-tab" class="link--icon-left" href="/adres-listesi"
                                           aria-controls="pills-address" aria-selected="false">
                                            <i class="fas fa-map-marked-alt"></i>Adreslerim
                                        </a>
                                    </li>
                                    <li>
                                        <a id="pills-account-tab" class="active link--icon-left" href="/hesabim"
                                           aria-controls="pills-account" aria-selected="false">
                                            <i class="fas fa-user"></i>
                                            Hesap Detaylarım
                                        </a>
                                    </li>
                                    <li>
                                        <a class="link--icon-left" href="/Account/LogOff"><i class="fas fa-sign-out-alt"></i>Çıkış Yap</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-9 col-md-9">
                            <div class="tab-content my-account-tab" id="pills-tabContent">
                                <div aria-labelledby="pills-account-tab">
                                    <div class="my-account-details account-wrapper">
                                        <h4 class="account-title">Parola Değiştir</h4>
                                        <div class="account-details">
                                            <div class="row">
                                                <form action="/Manage/ChangePassword" method="post">
                                                    @Html.AntiForgeryToken()
                                                    @Html.ValidationSummary("", new { @class = "text-danger" })
                                                    <div class="col-md-12">
                                                        <div class="form-box__single-group">
                                                            @Html.LabelFor(I => I.OldPassword, "Mevcut Parola", new { @style = "margin-bottom: 0" })
                                                            @Html.TextBoxFor(m => m.OldPassword)
                                                            @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-box__single-group">
                                                            @Html.LabelFor(I => I.NewPassword, "Yeni Parola", new { @style = "margin-bottom: 0" })
                                                            @Html.TextBoxFor(m => m.NewPassword)
                                                            @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-box__single-group">
                                                            @Html.LabelFor(I => I.ConfirmPassword, "Yeni Parolayı Onayla", new { @style = "margin-bottom: 0" })
                                                            @Html.TextBoxFor(m => m.ConfirmPassword)
                                                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-box__single-group">
                                                            <button type="submit" class="btn btn--box btn--radius btn--small btn--black btn--black-hover-green btn--uppercase font--bold">Kaydet</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- :::::::::: End My Account Section :::::::::: -->
            </div>
        </div>
    </div>
</main> <!-- ::::::  End  Main Container Section  ::::::  -->

@section Scripts
{
    <script src="/Content/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="/Content/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}
