@{
    ViewBag.Title = "SystemErrorDetail";
}
@model Eticaret2022.DataEntities.DataModels.SistemHata

<div class="card">
    <div class="card-block caption-breadcrumb">
        <div class="breadcrumb-header">
            <h5>Sistem Hatası Detayları</h5>
            <span>Tarih : @Model.Tarih</span>
            <span>Veri : @Model.Veri</span>
            <span>Hata Kodu : @Model.Kod</span>
            <span>Hata Mesajı : @Model.Mesaj</span>
            <span>Kaynak : @Model.Kaynak</span>
            <span>Yığın İzi : @Model.YiginIzi</span>
        </div>
    </div>
</div>
