
@{
    ViewBag.Title = "ChangePassword";
}
@model Eticaret2022.Models.ChangePasswordViewModel

<div class="col-sm-10 container-fluid">
    <!-- Basic Form Inputs card start -->
    <div class="card">
        <div class="card-header">
            <h5>Şifre Değiştir</h5>
        </div>
        <div class="card-block">
            <form method="post" action="/Manage/AdminChangePassword">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Mevcut Parola</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.OldPassword, new { @class = "form-control", placeholder = "Mevcut Parolanızı Giriniz" })
                        @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Yeni Parola</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Yeni Şifrenizi Giriniz" })
                        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Yeni Parola Onayı</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Yeni Şifrenizi Onaylayınız" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <button type="submit" class="btn waves-effect waves-light btn-primary"><i class="icofont icofont-check-circled"></i>Kaydet</button>
            </form>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="/Content/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="/Content/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}
