
@{ ViewBag.Title = "Onaylanmış Yorumlar"; }
@model List<Eticaret2022.DataEntities.DataModels.UrunYorum>

@Html.Partial("PartialDeleteModal", "Yorum Sil")

@if (Model.Count != 0)
{
<div class="card">
    <div class="card-header">
        <h5>Onaylanmış Yorumlar</h5>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Yorum İçeriği</th>
                        <th>Yorumun Ürünü</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var yorum in Model)
                    {
    <tr>
        <td>@yorum.Icerik</td>
        <td>@yorum.Urun.Adi</td>
        <td>
            <a class="btn btn-sm btn-danger openModal" data-modid="@yorum.Id" data-modtitle="@yorum.Icerik" data-toggle="modal" href="#myModal"><i class="icofont icofont-ui-delete"></i>Sil</a>
        </td>
    </tr>}

                </tbody>
            </table>
        </div>
    </div>
</div> }
else
{
<h1>Geçmiş Onaylanmış Yorum Yok</h1>}



@section Scripts
{
    <script>
        $(".openModal").click(function () {
            $(".modal-body>p.error").html("")
            var title = $(this).data("modtitle");
            $(".modal-body>p.message").html(title + " yorumu silinsinmi?");
            $(".modal-body>p.error").html("Dikkat Yaptığınız İşlemin Geri Dönüşü Yok");
            var id = $(this).data("modid");
            $(".delModal").data("id", id);

        });

        $(".delModal").click(function () {
            var id = $(this).data("id");
            $.ajax({
                type: "POST",
                url: "/Admin/Comment/RejectComment/" + id,
                success: function (durum) {
                    if (durum) {
                        window.location.replace("/Admin/Comment/UnconfirmedComments");
                    } else {
                        $(".modal-body>p.error").html("Bir hata oluştu");
                    }
                }
            });
        });

    </script>
}